@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-image: radial-gradient(ellipse 100% 80% at 50% -20%,hsla(210, 100%, 50%, 0.473),transparent),
  radial-gradient(ellipse 100% 80% at 50% 130%,hsla(220, 100%, 50%, 0.3),transparent);
  background-color: hsl(0, 0%, 0%);
  min-height: 100vh;
  width: 100%;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
