@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #eeeeee;
  }
}

body {
  background-color: hsl(100, 100%, 100%);
  min-height: 100vh;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

@utility mac {
  @apply h-3 w-3 rounded-full absolute top-3;
}
@utility button{
  @apply rounded-md  text-sm font-semibold px-5 py-2 cursor-pointer 
}
